body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7d977;
}

h1 {
    color: #ec0000;
    text-align: center;
    margin-top: 20px;
}

p {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}
